
:root {
    --background: black;
    --color:white;
    --shadowing: 3px 3px 5px 3px teal;
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}


    body {
        color: var(--color);
        line-height:1;
        margin: 0 auto;
        width: 90%;
        max-width: 1240px;
        font-family: var(--font-family);
        background-color: var(--background);
    }

    
   
    h5 {
        font-weight: 500;
        line-height: 1.7em;
    }
    
    h6 {
        color: var(--color);
        font-size: 14px;
    }
    
 
    

    .products {
        display: flex;
        flex-wrap: wrap;
    }
    
    .product-card {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 2%;
        flex: 1 16%;
        background-color: var(--background);
        box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 10px , 0 0 10px ,
        0 0 10px , 0 0 10px ;    
        border-radius: 10px;
        /* -webkit-animation: blink 0.7s infinite alternate;
        animation: blink 0.7s infinite alternate;    */
    }
    
    .product-image img {
        width: 100%;
    }
    
    .product-info {
        margin-top: auto;
        padding-top: 20px;
        text-align: center;
    }
    

 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    